[user]
	name = {{ aci_admin_name }}
	email = {{ aci_admin_email }}
[push]
	default = simple
{% if aci_git_proxy_url is defined %}
[http]
  proxy = {{ aci_git_proxy_url }}
{% elif aci_proxy_url is defined %}
[http]
  proxy = {{ aci_proxy_url }}
{% endif %}
{% if aci_repository_use_aws_credential_helper == true %}
[credential]
	helper = !{{ ('http_proxy="' + aci_awscli_proxy_url + '" ') if aci_awscli_proxy_url is defined else ''}}aws codecommit credential-helper $@
	UseHttpPath = true
{% endif %}
