<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>{{ aci_admin_email }}</adminAddress>
  <jenkinsUrl>{{ ACI_SERVER_URL }}/</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>
