version: 0.1
log:
  fields:
    service: registry
storage:
    cache:
        blobdescriptor: inmemory
    filesystem:
        rootdirectory: /var/lib/registry
http:
    addr: :5000
    tls:
        certificate: /secret/server-cert.pem
        key: /secret/server-key.pem
    headers:
        X-Content-Type-Options: [nosniff]
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
# Issue https://github.com/docker/docker/issues/17468
# Restricted access does not work with mirror
# auth:
#   htpasswd:
#     realm: "Docker Mirror Realm"
#     path: /secret/htpasswd
proxy:
  remoteurl: https://registry-1.docker.io
