require 'serverspec'
require 'net/ssh'

set :backend, :ssh

set :sudo_password, '{{ acia_target_sudo_pass }}'

host = 'acia.vm'

options = Net::SSH::Config.for(host)

options[:user] = '{{ acia_target_user }}'
options[:password] = '{{ acia_target_sudo_pass }}'
options[:port] = {{ acia_target_port }}

set :host,        options[:host_name] || host
set :ssh_options, options
