#!/bin/bash

if [[ -z $1 ]]
  then exit
fi

cd "{{ ansible_env.HOME }}/.ansible-data/de.iteratec.hh.ansible-ci-agent/vagrant"

case "$1" in
  up) vagrant up ;;
  destroy) vagrant destroy -f ;;
  get-ip) echo "{{ acia_vagrant_ip }}"
  *) echo 'Call with vagrant option [up|destroy|get-ip]' ;;
esac
