Vagrant.configure("2") do |config|
  config.vm.hostname = "ansibleciagent"
  config.vm.box = "{{ acia_vagrant_box }}"
  config.vm.provision :shell, path: "bootstrap-vagrant.sh"
  config.vm.network "private_network", ip:"{{ acia_vagrant_ip }}", hostsupdater: "skip"
  {% if acia_proxy_url is defined %}
  config.proxy.http = "{{ acia_proxy_url }}"
  config.proxy.https = "{{ acia_proxy_url }}"
  {% endif %}
  config.vm.provider "virtualbox" do |vb|
    vb.memory = {{ acia_vagrant_memory }}
    vb.cpus = 2
  end
  config.vm.define :ansibleciagent do |t|
  end
end
