<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>LOG_STDOUTERR</name>
          <description>This variable can be set by the user to make Ansible printing STDOUT/STDERR on the console. This setting would be overridden on next execution of the ACI installation playbook.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ANSIBLE_VERBOSE</name>
          <description>This variable can be set by the user to make Ansible output more verbose (-vvv). This setting would be overridden on next execution of the ACI installation playbook.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>KEEP_TARGET</name>
          <description>This variable can be set by the user to keep the target test machine alive after each Ansible run. This setting would be overridden on next execution of the ACI installation playbook.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>REPO_LABEL</name>
          <description>The label of the repository used to identify the workspace path.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ARTIFACTS_PATH</name>
          <description>The relative path to all roles/playbooks directory or just &apos;.&apos;.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ARTIFACT_NAME</name>
          <description>The name of the Ansible role/playbook to test.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ROLES_PATH</name>
          <description>The roles_path setting for the playbooks ansible.cfg</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.sharedworkspace.SharedWorkspace plugin="shared-workspace@1.0.2">
      <name>NONE</name>
    </org.jenkinsci.plugins.sharedworkspace.SharedWorkspace>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>${JENKINS_HOME}/workspace/develop/${REPO_LABEL}</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
set -e

echo &quot;CHECK ${ARTIFACT_NAME}&quot;

# run test suite
&quot;${JENKINS_HOME}/ansible-ci/run-tests.sh&quot; &quot;examples&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.4.2">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</project>
