Vagrant.configure("2") do |config|
  config.vm.hostname = "{{ item.name }}"
  config.vm.box = "{{ item.vagrant_box }}"
  config.vm.network :forwarded_port, guest: 22, host: {{ item.ssh_port }}

  config.vm.provider "virtualbox" do |vb|
    vb.memory = {{ item.memory }}
    vb.cpus = 2
  end

  config.vm.provision "shell", inline: <<-SHELL
    addgroup docker
    usermod -G docker vagrant
    echo '{{ ACI_PUBLIC_KEY }}' >> /home/vagrant/.ssh/authorized_keys
  SHELL
end
