FROM IMAGENAME
RUN if type apt-get &>/dev/null; then \
      echo 'Acquire::HTTP::Proxy "http://aci-squid-deb-proxy:8000";' >> /etc/apt/apt.conf.d/03autoproxy; \
    elif type pacman &>/dev/null; then \
      echo 'Proxy not implemented yet'; \
    elif type zypper &>/dev/null; then \
      echo 'Proxy not implemented yet'; \
    elif type yum &>/dev/null; then \
      echo 'Proxy not implemented yet'; \
    fi
